.my-pokemon{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.capture-container-mb {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cap-title-container h1{
    margin: 0;
    padding-top: 24px;
    padding-left: 16px;
}

.my-pokemon-container {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
}

.my-pokemon-wrapper {
    margin-top: 36px;
    width: 328px;
    min-height: 500px;
}