.detail-component {
    width: 100%;
    height: inherit;
    border-radius: inherit;
}

.poke-details {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    background-color: #FAFAFA;
    border-radius: inherit; 
}

.img-box {
    height: 275px;
    min-width: 333px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-box-content {
    display: flex;
    flex-direction: column;

}

.pokemon-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-img {
    background-size: contain;
    background-repeat: no-repeat;
    width: 170px;
    height: 170px;
}

.pokemon-name {
    margin: 0;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    color: white;

}

.about>h3,
p {
    margin: 0;
}

.stat-container {
    display: flex;
    justify-content: center;
    height: fit-content;
    width: 100%;

}

.stat-wrapper {
    height: 100%;
    background-color: #FAFAFA;
}

.about {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 10px;

    width: 326px;
    height: 137px;

    background: #FFFFFF;
    box-shadow: 0px 8px 16px 4px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
}

.base-stats>h3,
p {
    margin: 0;
}

.base-stats {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 10px;

    width: 326px;
    height: 221px;

    background: #FFFFFF;
    box-shadow: 0px 8px 16px 4px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
}


/*  */

.open-form-container {
    margin-top: 48px;
    display: flex;
    justify-content: center;
}

.open-form-btn {
    width: 328px;
    height: 53px;
    border: none;
    background-color: #EB5435;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px;
    margin-bottom: 20px;
}

.capture-info-container {
    display: flex;
    justify-content: center;
}

.capture-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 10px;
    margin-top: 24px;
    margin-bottom: 36px;
    width: 326px;
    height: 137px;
    left: 16px;
    top: 713px;

    background: #FFFFFF;
    box-shadow: 0px 8px 16px 4px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
}

.capture-info>h3,
p {
    margin: 0;

}

@media screen and (max-width: 1300px) {
    /* .img-box {
        border-radius: 16px 16px 0px 0px;
    }

    .poke-details {
        border-radius: 16px;
    } */
}