.home {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.captured {
    position: sticky;
    top: 16px;
}

.pokemon-logo {
    background-size: contain;
    background-repeat: no-repeat;
    width: 221.14px;
    height: 80px;
}

.grid-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #FAFAFA;
}

.card-grid {
    display: flex;
    max-width: 360px;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0px;
    gap: 16px;
}

.pokeball-btn {
    position: fixed;
    left: 79vw;
    bottom: 30px;
    width: 60px;
    height: 60px;
    padding: 0;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 0px 8px 4px rgba(103, 103, 103, 0.615);
}

.pokeball-btn > img {
    width: 100%;
    image-rendering: high-quality;
}

@media screen and (max-width: 760px){
    
}

@media only screen and (min-width: 760px) and (max-width: 1031px) {

    .pokeball {
        width: 40px;
        height: 40px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        bottom: 1px;
        right: 3px;
        margin-right: 4px;
    }

    .pokeball-btn {
       display: none;
    }

    .captured {
        min-width: 333px;
        height: 600px;
        background-color: rgb(157, 49, 167);
        border-radius: 16px;
        display: none;
    }

    .card-grid-container {
        display: flex;
        max-width: 682px;
    }

    .card-grid {
      max-width: 682px;
    }
}

@media only screen and (min-width: 1031px) and (max-width: 1383px){

    .pokeball-btn {
        display: none;
    }

    .captured {
        min-width: 333px;
        height: 600px;
        background-color: rgb(157, 49, 167);
        border-radius: 16px;
        display: none;
    }

    .card-grid-container {
        display: flex;
        max-width: 1035px;
    }

    .card-grid {
       min-width: 700px;
       max-width: 1031px;
    }

}

@media only screen and (min-width: 1383px) {

    .pokeball-btn {
        display: none;
    }

    .captured {
        min-width: 333px;
        height: 600px;
        background-color: rgb(157, 49, 167);
        border-radius: 16px;
        display: none;
    }

    .card-grid-container {
        display: flex;
        max-width: 1381px;
        
    }

    .card-grid {
       min-width: 1049px;
       max-width: 1381px;
    }
}

