.pokemon-card {
    width: 171px;
    height: 145px;
    border-radius: 16px;
    background-color: #74CB48B2;
    box-shadow: 0px 8px 16px 4px rgba(0, 0, 0, 0.05);
}

.card-btn {
    background-color: transparent;
    width: 171px;
    border: none;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 0px 0px;
    gap: 8px;
}

.card-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 8px 16px 12px;
    gap: 3px;
    width: 171px;
    height: 57px;
    background: #FFFFFF;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.card-img {
    width: 72px;
    height: 72px;
    background-position: center;
    background-size: contain;
}

.card-name {
    margin: 0;
    font-size: 13px;
    font-weight: bold;
    color: black;
}

.card-type {
    margin: 0;
    font-size: 12px;
    color: #828282d2;
}

@media only screen and (min-width: 760px) {
    
    .card-btn {
        width: 333px;
    }

    .card-img {
        width: 160px;
        height: 160px;
    }

    .pokemon-card {
        width: 333px;
        height: 265px;
    }

    .card-details {
        padding: 8px 8px 16px 16px;
        width: 333px;
        height: 89px;
    }

    .card-name {
        font-size: 28px;
    }

    .card-type {
        font-size: 24px;
    }
}